body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold"sans-serif;
}

p {
  color: #AFAFAF;
}

.container-fluid {
  padding: 7% 15%;
}

/* headings */

.section-heading {
  font-family: "Montserrat"sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* sections */

.colored-section{
background-color: #00b8a9;
color: #fff;
}

.white-section{
  background-color: #fff;
}

/* title section */

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-text {
  text-align: left;
  font-family: "Montserrat-Black"sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

/* title image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%;
}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light"sans-serif;
  font-size: 1.2rem;
}

/* download buttons */

.Download-Button {
  margin: 5% 3% 5% 0;
}

/* features section */

#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #61c0bf;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #defcf9;
}

/* Testimonials section */

#testimonials {
  background-color: #61c0bf;
}

.testimonial-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */

#press {
  background-color: #61c0bf;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}


/* footer section */

.footer-icon {
  margin: 20px 10px;
}

@media (max-width: 991px) {
  .title-text {
    text-align: center;
  }
  
  .nav-item {
    text-align: left;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
